# Señal de entrada
NET "SIN" LOC = "B2";

# Reloj principal del sistema
NET "CLK" LOC = "M6";

# Cada uno de los 7 segmentos de los números del display
NET "SAL<6>" LOC = "L14"; # SEÑAL = CA
NET "SAL<5>" LOC = "H12"; # SEÑAL = CB
NET "SAL<4>" LOC = "N14"; # SEÑAL = CC
NET "SAL<3>" LOC = "N11"; # SEÑAL = CD
NET "SAL<2>" LOC = "P12"; # SEÑAL = CE
NET "SAL<0>" LOC = "M12"; # SEÑAL = CG
NET "SAL<1>" LOC = "L13"; # SEÑAL = CF

# Selector de número del display
NET "ACT_SEG<0>" LOC = "K14"; # SEÑAL = AN0
NET "ACT_SEG<1>" LOC = "M13"; # SEÑAL = AN1
NET "ACT_SEG<2>" LOC = "J12"; # SEÑAL = AN2
NET "ACT_SEG<3>" LOC = "F12"; # SEÑAL = AN3

